provider: pihole

sources:
  - service
  - ingress

policy: upsert-only
registry: txt
txtOwnerId: homelab

domainFilters:
  - home.arpa
  - home.lab
  - home.dev

env:
  - name: EXTERNAL_DNS_PIHOLE_SERVER
    value: http://pihole-web.dns.svc.cluster.local

  - name: EXTERNAL_DNS_PIHOLE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: pihole-password
        key: password

logLevel: info