connect:
  credentialsName: one-password-credentials
  credentialsKey: credentials.json

  serviceType: ClusterIP

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi