controller:
  image:
    tag: jdk17

  serviceType: LoadBalancer
  servicePort: 8080

  serviceAnnotations:
    external-dns.alpha.kubernetes.io/hostname: jenkins.home.lab

  installPlugins:
    - kubernetes:4398.vb_b_33d9e7fe23
    - workflow-aggregator:608.v67378e9d3db_1
    - git:5.8.1
    - configuration-as-code:2006.v001a_2ca_6b_574
    - github-branch-source:1925.v62fb_7ffb_08ce
    - kubernetes-credentials-provider:1.299.v610fa_e76761a_
    - ssh-agent:386.v36cc0c7582f0
    - blueocean:1.27.25
    - ansicolor:1.0.6
    - uno-choice:2.8.8
    - parameter-separator:296.v9b_a_90c81160d
    - markdown-formatter:312.va_b_3dea_1413a_f
    - build-name-setter:2.5.1
    - sidebar-link:2.4.3

  sidecars:
    configAutoReload:
      env:
      - name: KUBERNETES_VERIFY_SSL
        value: "false"
      - name: REQ_SKIP_TLS_VERIFY
        value: "true"
      - name: PYTHONHTTPSVERIFY
        value: "0"


  containerEnv:
    - name: JENKINS_URL
      value: "http://jenkins.local:8080"

  rbac:
    create: true
    readSecrets: true

  serviceAccount:
    create: true
    name: jenkins

  JCasC:
    enabled: true
    configScripts:
      security: |
        jenkins:
          authorizationStrategy:
            loggedInUsersCanDoAnything:
              allowAnonymousRead: false
          securityRealm:
            local:
              allowsSignup: false
              users:
                - id: admin
                  password: admin

      shared-library: |
        unclassified:
          globalLibraries:
            libraries:
              - name: "jenkins-shared-library"
                retriever:
                  modernSCM:
                    scm:
                      git:
                        remote: "https://github.com/t3chy0n/jenkins-shared-library.git"
                        credentialsId: "jenkins-github-app"

  initScripts:
    - |
      import jenkins.model.*
      import jenkins.branch.OrganizationFolder
      import org.jenkinsci.plugins.github_branch_source.*

      def createOrgFolder = { owner, name, topic ->
        def jenkins = Jenkins.get()
        if (jenkins.getItem(name)) return

        def folder = jenkins.createProject(OrganizationFolder, name)
        def nav = new GitHubSCMNavigator(owner)
        nav.setCredentialsId("jenkins-github-app")
        nav.setTraits([
          new BranchDiscoveryTrait(true, false),
          new OriginPullRequestDiscoveryTrait(1),
          new TopicsTrait(topic)
        ])
        folder.getNavigators().add(nav)
        folder.scheduleBuild2(0)
      }

      createOrgFolder("t3chy0n", "Backend", "backend")
      createOrgFolder("t3chy0n", "Frontend", "frontend")
      createOrgFolder("t3chy0n", "Ops", "ops")



  agent:
    enabled: true
    podName: jenkins-agent
    resources:
      requests:
        cpu: "200m"
        memory: "256Mi"
