apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: one-password-credentials
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: one-password-credentials
    creationPolicy: Owner
  data:
    - secretKey: credentials.json
      remoteRef:
        key: ONE_PASSWORD_CONNECT_JSON