apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: gcp-secret-store
spec:
  provider:
    gcpsm:
      projectID: techyon-393614
      auth:
        secretRef:
          secretAccessKeySecretRef:
            name: gsm-sa-key
            key: key.json
            namespace: secrets
